[core]
showInEditor: false
[global_resource_F1]
hidden: true
[global_resource_F2]
hidden: true
[global_resource_F3]
hidden: true
[global_resource_F4]
hidden: true
[global_resource_F5]
hidden: true
[global_resource_F6]
hidden: true
[global_resource_F7]
hidden: true